* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    width: 100%;
    background: #000000;
    display: flex;
}

.header__logo {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}

/* Header navigation */

nav {
    margin-top: 56px;
    margin-left: 29%;
}

.topnav a {
    color: #ffffff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    transition: all.5s;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}

/* Adaptive */

@media (min-width: 1152px) and (max-width: 1340px) {
    nav {
        margin-left: 20%;
    }
}
@media screen and (max-width: 1151px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #ffffff;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}