* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    width: 100%;
    background: #000000;
    display: flex;
}

.header__logo {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}

/* Header navigation */

nav {
    margin-top: 56px;
    margin-left: 29%;
}

.topnav a {
    color: #ffffff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    transition: all.5s;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}

/* Main block */

main {
    display: flex; /* Для работы с flex-box'aми */ 
    width: 100%;
    flex-direction: column; /* Направление flex блоков */
}

main .main__welcome {
    background: #000;
    text-align: center;
    padding: 200px 0 410px 0;
}

main .main__welcome p {
    color: #999999;
    font-size: 20px;
}

main .main__welcome h1 {
    color: #999999;
    font-size: 44px;
    font-family: Open Sans;
    font-weight: 400;
}

.mycompany {
    color: #FCAC45;
    font-weight: bold;
} 


/* Доделать шрифты */

/* Second block */

.wrapper {
    width: 80%;
    margin: 0 auto;
}

main .main__about {
    display: flex;
    padding: 100px 0 100px 0;
}

.about__right {
    margin-left: 175px;
}

.about__right h1 {
    display: inline-block; /* Если задать просто block и убрать margin у всего блока, то все просто слетит и будет некрасиво */
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    font-weight: 400;
}

.about__right p {
    margin: 30px 0 50px 0;
    color: #6c6c6c;
}

.about__right li {
    background: url(img/dot.png) 0 no-repeat;
    padding-left: 25px;
    margin-top: 10px;
    font-weight: bold;
    color: #5a5a5a;
}

.mw-100 {
    min-width: 100%;
}

.bold__style {
    font-weight: bold;
}

.italic__style {
    font-weight: 300;
    font-style: italic;
}

/* Adaptive */

@media (min-width: 1152px) and (max-width: 1340px) {
    nav {
        margin-left: 20%;
    }
}
@media screen and (max-width: 1151px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #ffffff;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }


    main .main__welcome {
        padding: 50px 0 50px 0;
    }
    main .main__welcome p {
        font-size: 14px;
    }
    main .main__welcome h1 {
        font-size: 25px;
    }
    .mw-100 {
        max-width: 100%;
    }

    .main__about{
        flex-direction: column; /* Блоки будут идти вертикально */
    }
    .about__right {
        text-align: center;
        margin-left: 0;
    }
    .about__right li {
        text-align: left;
    }
    .about__right h1 {
        margin-top: 10px;
        font-size: 20px;
    }
}